<body aria-checked="container">
    <header class="headcol-2">
        
    </header>
    <main>
        <section class="col-3-1">
            <div class="splashlogo">
                <img src="img/my-recipes.svg" title="myrecipes lógó">
            </div>
            <div class="kynning">
                <h2>Scalable Vector Graphics</h2>
            </div>
            <div class="auglysing">
                <p>í 5. verkefni búum við til auglýsingu og setjum hana hér með <br><em>{% raw %} {% include "auglysing" %}</em></br></p>
            </div>
        </section>
        <figure class="col-4">
            <img src="img/front/bread.jpg" title="bread">
            <img src="img/front/FigHamStarter.jpg" title="starters">
            <img src="img/front/Grilled-Buttermilk-Chicken.jpg" title="courses">
            <img src="img/front/desserts-hero.jpg" title="desserts">
        </figure>
    </main>
    {% include "socialButts.html" %}
</body>